/* Change theme */
:root {
    --primary-color: #009f4d;
    --secondary-color: #213364;
    --font-color: #666;
    --bg-color: #fff;
    --heading-color: #3f3a64;
    --border-radius: 8px;
    --border-radius-full: 35px;
    --border-color: transparent;
    --border-color-light: #eee;
    --nav-color: #292922;
    --dropdown-color: #fff;
    --iframe-filter: grayscale(0%);
    --bg-grey: #f7f7f7;
    --bg-lightgrey: #f8f9fa;
    --layer: rgba(29, 42, 55, 0.7); }
  
  html[data-theme="dark"] {
    --primary-color: #009f4d;
    --secondary-color: #213364;
    --font-color: #c2c2c2;
    --bg-color: #151421;
    --heading-color: #eee;
    --border-color: rgba(255, 255, 255, 0.2);
    --border-color-light: rgba(255, 255, 255, 0.1);
    --nav-color: #fff;
    --dropdown-color: #121725;
    --iframe-filter: grayscale(100%);
    --bg-grey: #100f19;
    --bg-lightgrey: #100f19;
    --layer: rgba(29, 42, 55, 0.8); }

    :root {
        --blue: #007bff;
        --indigo: #6610f2;
        --purple: #6f42c1;
        --pink: #e83e8c;
        --red: #dc3545;
        --orange: #fd7e14;
        --yellow: #ffc107;
        --green: #28a745;
        --teal: #20c997;
        --cyan: #17a2b8;
        --white: #fff;
        --gray: #6c757d;
        --gray-dark: #343a40;
        --primary: #00a63f;
        --secondary: #213364;
        --success: #28a745;
        --info: #17a2b8;
        --warning: #ffc107;
        --danger: #dc3545;
        --light: #f8f9fa;
        --dark: #343a40;
        --breakpoint-xs: 0;
        --breakpoint-sm: 576px;
        --breakpoint-md: 768px;
        --breakpoint-lg: 992px;
        --breakpoint-xl: 1200px;
    }

body a {
    text-decoration: none !important;
}

html {
    scroll-behavior: smooth; 
}

header.main-header {
    border-bottom: 1px solid rgba(231, 231, 231, .2);
    height: 100px;
    z-index: 10;
    padding: 0;
    align-items: center;
    transition: all .4s ease 0s;
}

.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff !important;
}

.navbar .navbar-brand span .fa {
    color: #009f4d!important;
    font-size: 30px;
}

.navbar-nav {
    z-index: 10;
}

.nav-fixed {
    padding: 0px;
    height: 80px;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 5%);
}

.logo {
    font-weight: 600;
    font-size: 14px;
    opacity: .9;
    text-transform: none;
    display: block;
    padding-left: 46px;
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 12px;
    transition: all 0.5s ease;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    opacity: .8;
}

.navbar-nav .nav-item .nav-link.active {
    color: #ffffff;
    opacity: 1;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ffffff !important;
    cursor: pointer;
    opacity: 1;
}

.nav-fixed .navbar-expand-lg .navbar-nav .nav-item.active {
    color: #009f4d;
    opacity: 1;
}

.nav-fixed .navbar-expand-lg .navbar-brand {
    color: #3f3a64 !important;
}

.navbar-toggler {
    margin-right: -20px;
    margin-bottom: 20px;
}

/* .nav-fixed .navbar-expand-lg .navbar-brand span {
    color: #3f3a64;
} */

.control .btnSearch {
    background-color: #009f4d;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 45px;
    outline: 0;
    text-align: center;
    transition: all .7s cubic-bezier(.4, 0, .2, 1);
    transform-origin: 50%;
}

.control .iconSearch {
    color: #FFF;
    transition: opacity 0.3s ease-in-out;
}

.btnSearch i {
    color: #fff;
    transition: .3s opacity ease-in-out;
}

body.active {
    overflow: hidden;
}

body.active .control .btnSearch {
    transform: scale(70);
}

body.active .btnSearch .iconSearch {
    opacity: 0;
}


.icon-close {
    opacity: 0;
}

body.active .icon-close {
    opacity: 1;
    transform: rotate(-90deg);
}

.headerSearch .icon-close {
    position: absolute;
    color: #fff;
    cursor: pointer;
    font-size: 70px;
    transition: all .3s ease-in-out;
}

body.active .searchInput {
    opacity: 1;
    transform: none;
}

.mode-container {
    width: 24px;
    height: 24px;
    padding: 1px 0;
    /* margin-top: 20px; */
}

.searchInput {
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50px;
    margin-top: -40px;
    pointer-events: none;
    opacity: 0;
    transform: translate(40px, 0);
    transition: all 0.3s ease-in-out;
    width: 88%;
}

.searchInput.active {
    opacity: 1;
    transform: none;
}

.themeSwitch {
    cursor: pointer;
}

.searchInput input {
    color: #fff !important;
    font-size: 54px;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    outline: 0;
    font-weight: 200;
    height: 100vh;
    width: 100%;
}

::placeholder {
    color: #fff;
}


.btn-style {
    background-color: #009f4d !important;
    border-color: #009f4d !important;
    padding: 15px 50px !important;
    font-size: 16px !important;
    line-height: 18px !important;
    font-weight: 600 !important;
    border-radius: 8px !important;
}


/* Carousel */
.carousel {
    position: relative;
}

.bg1 {
    background: url(/assets/img/b1.jpg);
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top;
    height: 800px;
    width: 100%;

}

.bg2 {
    background: url(/assets/img/b2.jpg);
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top;
    height: 800px;
    width: 100%;
}

.bg3 {
    background: url(/assets/img/b3.jpg);
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top;
    height: 800px;
    width: 100%;
}

.bg4 {
    background: url(/assets/img/b4.jpg);
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top;
    height: 800px;
    width: 100%;
}

/* About */
.about{
    background-color: var(--bg-color);
}

.titleSmall {
    font-size: 14px;
    font-weight: 600;
    color: #7e7d7d;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
}

.titleBig {
    font-size: 35px;
    font-weight: 700;
    color: var(--heading-color);
    line-height: 45px;
}

.aboutLink span {
    color: #009f4d;
    margin-right: 5px;
    opacity: .8;
}

.aboutLink a {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: var(--heading-color);
    position: relative;
}

.aboutLink a:hover {
    text-decoration: none !important;
    color: #3f3a64;
}

.radius-img {
    border-radius: 8px;
}

/* Feature */
.feature {
    background-color: var(--bg-grey);
}

.featureGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}

.box-wrap {
    padding: 40px 30px;
    background-color: #fff;
    box-shadow: rgb(1, 1, 1, 5%) 1px 1px 5px 0px;
    transition: ease .3s;
    text-align: center;
    background-color: var(--bg-color);
}

.box-wrap img {
    width: 65px;
    margin: 0 auto;
    display: block;
}

.box-wrap h4 a {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 25px;
    color: var(--heading-color);
    display: block;
    text-decoration: none;
}

.box-wrap h4 a:hover {
    color: #009f4d;
}

.featureGrid .box-wrap:hover {
    transform: translateY(-0.25rem);
    box-shadow: rgb(46, 41, 51, 8%) 0px 2px 4px,
        rgb(71, 63, 79, 16%) 0px 5px 10px;
    cursor: pointer;

}

/* Services */
.services{
    background-color: var(--bg-color);
}
.servicesImg {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
}

.blogInfo {
    padding: 0 20px;
    position: relative;
}

.title {
    font-size: 19px;
    font-weight: 600;
    color: var(--heading-color);
    line-height: 28px;
    text-align: center;
    background-color: var(--bg-color);
    padding: 15px 35px;
    border: 1px solid transparent;
    border-radius: 8px;
    transform: translateY(-25px);
    box-shadow: rgb(1, 1, 1, 5%) 1px 1px 5px 0px;
    transition: all .5s;
}

.titleProject {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    display: block;
    margin-bottom: 10px;
}

.title:hover {
    color: #009f4d;
}

.blogInfo p.text-para {
    margin-top: 30px;
}

.btn-style1 {
    color: var(--heading-color) !important;
    padding: 8px 35px !important;
    font-size: 16px !important;
    line-height: 28px !important;
    font-weight: 600 !important;
    border-radius: 8px !important;
    transition: all .3s;
}

.btn-style1:hover {
    color: #009f4d !important;
}

/* Linh's Section */

.w3l-progress {
    background-color: var(--bg-color);
}

/* Sang's Section */

@media (min-width: 992px) {
    .container {
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}

body{
    font-family: 'jost',sans-serif;
    
}
.title_small{
    font-size: 1rem;
    line-height:25px;
    letter-spacing: 1px;
    font-weight: 600;
}
.title_big{
    font-size: 2rem;
    line-height: 45px;
    font-weight: 700;
}

.swiper-slide blockquote
{
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        position: relative;
        margin-bottom: 1.5em;
        width: 65%;
        text-align: center;
        margin: auto;
}
.swiper-slide blockquote q
{
        font-size: 18px;
        line-height: 28px;
        color: var(--font-color);
        opacity: 0.8;
}
.testimonial
{
    position: relative;
    background-color: var(--bg-grey);
}
.testimonial_bio
{
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        text-align: left;
        grid-gap: 20px;
}
.testimonial_img
{
        width: 70px;
        height: 70px;
        display: inline-block;
        overflow: hidden;
        background: #2e1c1c;
        border-radius: 50%;
}
.testimonial_pro
{
    vertical-align: middle;
}
.swiper-pagination
{
    position: absolute;
    right: 0;
    bottom: 0;
}
.post_img
{
    width: 100%;
}
.card-footer
{
    background: var(--bg-color);
    
}
.author
{
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
}
.author .author_img img{
    border-radius: 50%;
}

.author_text p span{
    color: var(--heading-color);
    font-weight: 600;
    line-height: 26px;
    text-transform: capitalize;
    font-size: 16px;
}
.card-img-top
{
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
    object-fit: cover;
    object-position: center;
}
.card-img-top:hover
{
    transform: scale(1.2);
}
.card-header
{
    overflow: hidden;
    padding: 0;
}
.card
{
    background-color: var(--bg-grey)!important;
    overflow: hidden;
}
.sub
{
            background-image: url(https://wp.w3layouts.com/corpvision/wp-content/themes/corpvision/assets/images/map.png);
            background-color: #151421;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center
}

.sub-header
{
    width: 65%;
    margin: auto;
}
.sub-sub
{
    position: relative;
    grid-template-columns: 50px 1fr auto;
    display: grid;
    max-width: 500px;
    margin: auto;
    color: #ced4da;
    border: 1px solid #ced4da;
    border-color: rgba(255, 255, 255, 0.15);
}
.sub-text
{
    color: #ced4da;
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    justify-content: center;
    border-color: rgba(255, 255, 255, 0.15);
    background-color: rgba(0, 0, 0, 0.25);
    padding: 20px 15px;
}
input {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.15);
    border-left:none ;
    border: 1px solid #ced4da;
    padding: 14px 20px;
    border: 1px solid var(--border-color-light);
}
.footer
{
    background-color: #151421;
    border-top: 1px solid rgba(249, 249, 249, 0.1);
} 
.logo_author
{
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
}
.logo-text
{
    display: block;
    font-size: 16px;
    padding-left: 40px;
    opacity: 0.8;
}
.about p
{
    font-size: 18px;
    color: #97a1a9;
    line-height: 30px;
}
.social a
{
    font-size: 16px;
    color: #97a1a9;
    margin-right: 10px;
    transition: all 0.3;
}

.social a:hover
{color: white;
}
.title_foot h3
{
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    line-height: 30px;
}
.contact p
{
font-size: 18px;
line-height: 28px;
color: #97a1a9;
}
.contact a
{
    text-decoration: none;
    color: #97a1a9;
    transition: all 0.3;
}
.contact a:hover
{
    color: white;
}
.copy
{
 border-top: 1px solid rgba(249, 249, 249, 0.1);
 background-color: #151421;
}
.copy p
{
    color: #7f8a94;
    font-size: 17px;
    letter-spacing: .5px;
}
.copy a
{
    text-decoration: none;
    color: green;
    transition: all 0.3;
}
.copy a:hover
{
    color: white;
}

.swiper-pagination-bullet {
    background-color: var(--secondary-color)!important;
    opacity: 1!important;
    transform: scale(1.5)!important;
  }
  
  .blog {
    background-color: var(--bg-color);
  }



    









